@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class ="container">
    <section id="about">
        <div class="logo-image">
            <img src="~/Images/KhumaloCraftLogo.JPG" alt="KhumaloCraft Emporium" />
        </div>
        <h2> KhumaloCraft Emporium</h2>

        <div class="about-content">
            <h3>Our Story</h3>
            <p>KhumaloCraft Emporium was created through the vision of James Khumalo, a passionate entrepreneur dedicated to show handcrafted products from artisans around the world. We believe in connecting these skilled creators with a broad audience who can really appriciate the beauty and uniqueness of handcrafted pieces.</p>

            <h3>Our Mission</h3>
            <p><strong>Champion Artisanship:</strong> We honour the artistry and dedication that it takes to create beautiful and unique pieces and offer artisans a space to share their stories and connect with customers.</p>
            <p><strong>Connecting Creators & Collectors:</strong> We close the gap between talented artisans and tasteful customers that seek out to find only the best handcrafted pieces.</p>
            <p><strong>Creating a Global Marketplace:</strong> We eliminate all geographical boundries,curating a global marketplace where artisans can reach a broad audience and customers can acquire hiddem gems from all around the world.</p>

            <h3>Our Commitment</h3>
            <p>We are committed to building a:</p>
            <ul>
                <li>Scalable Platform: Our platform is created to accomodate exponential growth, ensuring the best experience for artisans and customers.</li>
                <li>Accessible For Everyone: One of our main priorities is global access, allowing artisans from anywhere to show off their work to customers from all across the globe.</li>
                <li>Secure Enviroment: Security is of utmost importance, we promise to keep customer information and artisan data safe from threats.</li>
                <li>Positive User Experience: Most importantly we want to make the platform user friendly and strive to seamlessly integrate the buying and selling process, allowing only smiles on the faces of everyone that visits our website.</li>
            </ul>

            <h3>The Future of KhumaloCraft</h3>
            <p>Just as the artist are innovators, we too will strive for constant innovation to only better user experience while continuing to add advanced features like:</p>
            <ul>
                <li>Powerful Search Capabilities</li>
                <li>Personalised Notifications</li>
                <li>Steamlined Processes</li>
            </ul>
            <p>By creating a platform that is driven by artistry and made with the newest technology, KhumaloCraft Emporium is taking all the steps to become the leading global platform for handcrafted products through empowering artisans and enhancing the lives of its customers.</p>
        </div>
    </section>
</div>