@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - KhumaloCraft Emporium</title>
    <link rel="stylesheet" href="~/style.css" />
    <style>
        .full-width-image {
            width: 100%;
            height: auto;
        }

        footer {
            margin-top: 0;
        }
    </style>
</head>
<body>
    <main class="container">
        <section>
            <img src="~/Images/CraftHeader.jpg" class="img-fluid full-width-image" alt="Home Background" />
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h2>Our Features</h2>
                            <p><b>Our 3 Primary Features -</b></p>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img width="150" src="~/Images/Coloumn1CraftImage.jpg" alt="Digital Inventory" />
                            <h4>Digital Craft Inventory</h4>
                            <p class="text-justify">Explore our diverse collection of handmade crafts and artifacts, showcasing the rich cultural heritage of local artisans.</p>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img width="150" src="~/Images/Coloumn2SearchImage.jpg" alt="Search Crafts" />
                            <h4>Search Crafts</h4>
                            <p class="text-justify">Easily browse and search for unique crafts, filters, and categories to find the perfect pieces to complement your style.</p>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img width="150" src="~/Images/Coloumn3CartImage.jpg" alt="Cart List" />
                            <h4>Order Tracking</h4>
                            <p class="text-justify">Stay informed about your order status with our convenient order tracking system, ensuring a seamless shopping experience.</p>
                        </center>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <img src="~/Images/MiddleBannerCraftImage.jpg" class="img-fluid full-width-image" alt="In-Homepage Banner" />
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h2>Our Process</h2>
                            <p><b>We have a Simple 3 Step Process</b></p>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img width="150" src="~/Images/signup.png" alt="Sign Up" />
                            <h4>Sign Up</h4>
                            <p class="text-justify">Create your account and join our community of craft enthusiasts to explore our unique offerings.</p>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img width="150" src="~/Images/search.png" alt="Search Crafts" />
                            <h4>Browse and Order</h4>
                            <p class="text-justify">Discover your favorite handmade crafts, add them to your cart, and place your order with ease.</p>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img width="150" src="~/Images/doorstep.png" alt="Visit Us" />
                            <h4>Receive Your Crafts</h4>
                            <p class="text-justify">Sit back and relax as we carefully package and deliver your unique crafts right to your doorstep.</p>
                        </center>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <p>&copy; @DateTime.Now.Year KhumaloCraft Emporium. All Rights Reserved.</p>
        </footer>
    </main>
</body>
</html>