
@{
    ViewData["Title"] = "My Work";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - KhumaloCraft Emporium</title>
    </head>
    <body>
        <header>
            <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/Images/KhumaloCraftLogo.JPG" alt="KhumaloCraft Emporium"></a>
            </div>
            
            </div>
        </header>

        <div class = "container">
            <section id = "my-work">
            <h2>My Work</h2>

            <div class = "craftwork-items">
                <img src = "~/Images/KhumaloProduct1.jpg" alt = "Craftwork 1">
                <h3>Weaved Home Decorations</h3>
                <p>This beautiful Home decor set can be used in multiple ways and needs you to take its creativity further. It is all natural colours to blend in but will always catch the eye, perfect for any home.</p>
                <p>Price: R2000</p>
            </div>

             <div class = "craftwork-items">
                <img src = "~/Images/KhumaloProduct2.jpg" alt = "Craftwork 2">
                <h3>Multi-coloured beaded necklace</h3>
                <p>This is truly a unique African necklace featuring over 1000 coloured beads.If you ever want to make a statement than this is for you.This piece can be worn or used for decor to bring the African spirits right into your living room.</p>
                <p>Price: R800</p>
            </div>

             <div class = "craftwork-items">
                <img src = "~/Images/KhumaloProduct3.png" alt = "Craftwork 3">
                <h3>Doodle Pot</h3>
                <p>This is named the Doodle Pot as it is bright and colourful while being filled with small unique drawings all over.This pot comes out of Indonesia and really reflects their culture and spirit. Brighten up your home with this eye catching piece that would make every visitor stop and stare.</p>
                <p>Price: R3000</p>
            </div>

             <div class = "craftwork-items">
                <img src = "~/Images/KhumaloProduct4.jpg" alt = "Craftwork 4">
                <h3>Weaved Purse</h3>
                <p>This beautiful handcrafted purse is elegant yet can make a statement with anything you wear. It's a round design that continues all the way in creating a turning feeling the longer you stare.It is made from all natural products and supports the locals which fits in perfectly with -Look good, Feel good- as you know you are supporting an artist but also earth.</p>
                <p>Price: R600</p>
            </div>

             <div class = "craftwork-items">
                <img src = "~/Images/KhumaloProduct5.jpg" alt = "Craftwork 5">
                <h3>Multi-coloured knitted Kudu</h3>
                <p>This is not your normal kudu head for your trophy room, but rather a beautiful bold knitted Kudu head that includes every colour of the rainbow. This is a big statement piece as it will amaze everyone that owns a pair of eyes making it fitting for any home. KhumaloCrafts is all about supporting the locals and nature, this piece is both, you can show the beauty of the kudu and its twisted horns without removing a mother or father from a family.</p>
                <p>Price: R5000</p>
            </div>
            </section>
        </div>
    </body>
</html>

