body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav li {
        margin-right: 30px;
    }

    nav a {
        color: #333;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        nav a:hover {
            color: #007bff;
        }

/* Button Styles */
.btn {
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #762b00;
    padding: 20px 0;
    /*margin-top: -20px;*/
    /* padding-top: 20px; */
}

#footer2 {
    background: #531f00;
    padding: 20px 0;
    /*margin-top: -20px;*/
    /*padding-top: 20px;*/
}

footer {
    width: 100%;
    margin: 0;
    margin-top: 20px;
}



main.entry {
    margin-bottom: 0; /* Remove or reduce the bottom margin for the main element */
    
}

.form-group {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.about-section {
    padding: 50px 0; /* top and bottom padding of 50px, left and right padding of 0 */
}

.about-content {
    text-align: justify;
}

.logo-banner {
    background-image: url('/Images/KhumaloCraftsBanner.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 400px;
}

 